.container__inner {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  @media (min-width: 1024px) {

    img {
      width: 50%;
      align-self: flex-start;
      margin-left: 50px;
    }
  }
}

.prices__paragraph__head {
  @media (min-width: 1024px) {
    width: 60% !important;
    align-self: flex-end;
  }
}

.medi__image {
  @media (min-width: 1024px) {
    width: 40% !important;
  }
}

.image {
  @media (min-width: 1024px) {
    width: 200% !important;
  }
}

.links {
  display: flex;
  justify-content: center;
}


.active__button {
  font-family: termina, sans-serif;
  font-style: normal;
  font-weight: 600;
  width: 90%;
  height: 55px;
  background: #b4f2cb;
  border-radius: 8px;
  border: 1px solid #000000;
  font-size: 16px;
  color: #000000;
  position: relative;
  transition: all 0.2s ease-out;
  overflow: hidden;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: all 0.2s ease-out;
    background: #000000;
    z-index: 1;
  }

  p {
    transition: all 0.2s ease-out;
    z-index: 9;
    text-decoration: none;
  }

  &:hover {
    transform: scale(1.05);
  }

  &:hover > img {
    transform: translateX(40px);
  }

  &:hover > p {
    color: #b4f2cb;
  }

  &:hover:after {
    transform: translateX(100%);
  }

  @media (min-width: 1024px) {
    height: 60px;
    font-size: 15px;
    justify-self: center;
    width: 80%;

    top: 20px;
    text-decoration: none;
  }
}

img {
  width: 90%;
}

.title__nav__div {
  border-bottom: 1px solid #000000;
  padding: 20px 0 0 0;
}

.container__inner {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2 {
  font-family: termina, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  align-self: flex-start;
  margin: 20px 0 0 20px;


  @media (min-width: 1024px) {
    width: 75%;
    margin-top: 100px;
    margin-left: 50px;
    font-size: 70px;
    line-height: 75px;

  }
}

a {
  text-decoration: none;
}

p {
  font-family: termina, sans-serif;
  font-style: normal;
  font-weight: 600;

  margin: 20px;

  span {
    font-weight: 900;
  }

  a {
    font-weight: 900;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 90%;
    border-radius: 20px;
    border: 2px solid #000000;
  }

  @media (min-width: 1024px) {
    p {
      width: 60%;
      align-self: flex-end;
    }
    img {
      width: 60%;
      align-self: flex-start;
      margin-left: 50px;
      margin-top: 50px;
      margin-bottom: 70px;
    }

  }
}

.first__div {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 90%;
    border-radius: 20px;
    border: 2px solid #000000;
  }

  @media (min-width: 1024px) {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    margin: 0 50px;


    img {
      width: 50%;

    }
    div {
    }
    p {
      width: 80% !important;
      align-self: center !important;

    }

    ul {
      width: 90% !important;
      align-self: center !important;

    }
  }
}

.info__div {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;

}

h3 {
  font-family: termina, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  padding: 5px 20px;
  text-align: left;
  align-self: flex-start;
  color: #000000;

  margin: 0;
}

.info__div__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;

  h2 {
    font-family: termina, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    padding: 5px 0;
    position: relative;
    top: 5px;
    color: #000000;

    margin: 0;

    @media (min-width: 1024px) {
      width: 70%;
      margin-top: 70px;
      margin-left: 50px;
      font-size: 70px;
      line-height: 75px;
    }
  }

  h3 {
    @media (min-width: 1024px) {
      width: 60%;
      align-self: flex-end;
      margin-bottom: 30px;
      font-size: 30px;
    }
  }

}

ul {
  font-family: termina, sans-serif;
  font-style: normal;
  font-weight: 600;
  list-style-type: none;
  padding: 0 20px;
  list-style-position: outside;

  @media (min-width: 1024px) {
    width: 60%;
    align-self: flex-end;
  }
}

.open__btn {
  background: transparent;
  border: none;
  width: 50px;
  height: 50px;

  img {
    width: 35px;
    height: 35px;
  }

}

.info__div__outer {
  display: flex;
  flex-direction: column;
  transition: all .2s ease-out;

  img {
    border-radius: 20px;
    border: 2px solid #000000;
    align-self: center;

    @media (min-width: 1024px) {
      margin: 40px 55px;
      align-self: flex-start;
    }
  }

  p {
    @media (min-width: 1024px) {
      width: 60%;
      align-self: flex-end;
      margin-bottom: 20px;
    }

    span {
      font-size: 20px;
      text-transform: uppercase;

      @media (min-width: 1024px) {
        font-size: 25px;

      }
    }
  }

  li {
    span {
      font-size: 20px;
      font-weight: 900;
      text-transform: uppercase;

      @media (min-width: 1024px) {
        font-size: 25px;
        margin-bottom: 20px;

      }
    }
  }
}

.page__title {
  @media (min-width: 1024px) {
    width: 80%;
    margin-top: 40px;
    font-size: 80px;
    line-height: 85px;
    margin-left: 50px;
  }
}

.aestetic__title {
  @media (min-width: 1024px) {
    width: 100%;
    margin-top: 100px;
    font-size: 80px;
    line-height: 85px;
    margin-left: 50px;
  }
}

.border__top__div {
  @media (min-width: 1024px) {
    margin-top: 50px;
  }
}

.travel__image {
  @media (min-width: 1024px) {
    margin-top: 100px;
  }
}

.trvel__paragraph {
  @media (min-width: 1024px) {
    width: 60%;
    align-self: flex-end;
  }
}

.asking__div__outer {
  border-top: 1px solid #000000;
}

.asking__div__inner {
  border-bottom: 1px solid #000000;

  p {
    width: 70%;
    margin-left: 20px;

  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: 1024px) {
    p {
      width: 70%;
      margin-left: 50px;

    }
  }
}

.asking__div {
  color: #041b8d !important;
  background: transparent;
  font-family: Termina;
  font-weight: 800;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin: 20px 0 0 20px;

  width: 70%;
  text-align: left;

  @media (min-width: 1024px) {
    font-size: 30px;
    margin: 20px 0 20px 50px;
  }
}

.close__button {
  background: transparent;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: relative;
  margin: 20px 0 0 0;

  right: 40px;

  &::after {
    background: #FFFFFF;
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    rotate: 45deg;
    border-radius: 25px;
  }

  &::before {
    background: #FFFFFF;
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    rotate: -45deg;
    border-radius: 25px;

  }

  @media (min-width: 1024px) {
    font-size: 30px;
    right: 70px;
    top: -10px;
  }
}

.active {

  transition: all .4s ease-out;
  height: 680px;
  opacity: 1;
  color: #FFFFFF;

  @media (min-width: 1024px) {
    height: 200px;

  }

}

.disactive {
  transition: all .4s ease-out;
  height: 0;
  opacity: 0;


}

.activetable {
  transition: all .4s ease-out;
  background: #000000;

}

.display__active {
  transition: all .5s ease-out;
  display: inline;


}

.display__disactive {
  transition: all .5s ease-out;
  display: none;

}

.desactivetable {
  transition: all .4s ease-out;
  background: #FFFFFF;
}

.activ {
  transition: all .4s ease-out;
  color: #FFFFFF !important;

}

.deactiv {
  transition: all .4s ease-out;
  color: #041b8d !important;
}
